body {
    background-color: #fff;
    font-family: 'Assistant', sans-serif;
    color: #071c4d;
}

// Navbar
.navbar-brand {
    img {
        max-height: 40px;
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #071c4d;

            &.active {
                font-weight: bold;
                color: #071c4d !important;
            }
        }
    }
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;

    height: 70px;
    border-radius: 0;

}

.btn-login {
    color: #fff;
    background-color: #071c4d;

    &:hover {
        color: #fff;
        background-color: #1E366D;

    }
}

// Header
header {
    margin-top: -70px;
    padding: 180px 0 165px;
    background-image: url('../images/header.jpg');
    background-size: cover;

    h1,
    p {
        color: #fff;
    }

    h1 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 50px;
    }

    p {
        font-size: 22px;
    }

    .btn-get-started {
        background-color: #FE8F23;
        color: #fff;

        &:hover {
            color: #fff;
            background-color: #F3963C;
        }
    }
}

// Section Stats
.section-stats {
    margin-top: -50px;

    .stats-details {

        padding-top: 16px;
        background-color: #fff;
        padding-left: 40px;
    }

    h2 {
        font-size: 30px;
        margin-bottom: 0;
        font-weight: 600;
    }

    p {
        font-size: 20px;
        font-weight: lighter;
    }

}

// Section Popular
.section-popular {
    min-height: 540px;
    background-color: #051334;
    margin-top: -50px;
    margin-bottom: -230px;

    .section-popular-heading {
        margin-top: 150px;


        h2,
        p {
            color: #fff;
        }

        h2 {
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 40px;
        }

        p {
            font-size: 18px;
        }
    }

}

// Section Popular Content
.section-popular-content {
    .section-popular-travel {
        .card-travel {
            min-height: 380px;
            background-color: #ddd;
            color: #fff;
            background-size: cover;
            padding: 30px;
            margin-bottom: 20px;
        }

        .travel-country {
            font-size: 18px;
            color: #fff;
        }

        .travel-location {
            font-size: 26px;
            color: #fff;
            font-weight: 600;
        }

        .travel-button {
            .btn-travel-details {
                background-color: #FE8F23;
                color: #fff;

                &:hover {
                    color: #fff;
                    background-color: #FFA54E;
                }
            }
        }
    }
}

// Section Networks
.section-networks {
    background-color: #fff;
    margin-top: -170px;
    padding-top: 240px;
    padding-bottom: 50px;

    h2 {
        font-family: 'Playfair Display',
            serif;
        font-weight: bold;
        font-size: 40px;
        margin-left: 120px;
    }

    p {
        margin-left: 120px;
        font-size: 18px;
    }

    img {
        max-width: 100%;
        margin-right: 30px;
    }
}

// Section testimonial heading
.section-testimonial-heading {
    background: linear-gradient(#fff 0%,
            #f7f9ff 100%);
    padding-top: 50px;
    min-height: 506px;

    h2 {
        font-family: "Playfair Display", serif;
        font-weight: bold;
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }
}

// section testimonial content 
.section-testimonial-content {
    margin-top: -300px;
    padding-bottom: 50px;

    .card-testimonial {
        padding: 40px 20px 10px;
        border-radius: 20px;
        margin-bottom: 20px;
        min-height: 180px;
    }

    .testimonial-content {
        min-height: 380px;
    }

    h3 {
        font-family: Assistant;
        font-weight: 600;
        font-size: 22px;
        color: #051334;

    }

    .testimonial {
        font-family: Assistant;
        font-weight: 300;
        font-size: 26px;
        color: #6e6e63;
    }

    .trip-to {
        font-weight: normal;
        font-size: 22px;
        color: #6e6e63;
    }

    hr {
        margin-left: -20px;
        margin-right: -20px;
    }

    .btn-get-started {
        background-color: #FE8F23;
        color: #fff;

        &:hover {
            color: #fff;
            background-color: #F3963C;
        }
    }

    .btn-need-help {
        background-color: #F2f2f2;
        color: #c3c3c3;

        &:hover {
            color: #c3c3c3;
            background-color: #Fafafa;
        }
    }
}

.section-footer {
    h5 {
        font-family: Assistant;
        font-weight: 600;
        font-size: 22px;
        text-align: left;
        color: #071c4d;

    }

    a {
        color: #071C4D;
        font-family: Assistant;
        font-weight: normal;
        font-size: 18px;
    }
}

.section-details-header {
    min-height: 310px;
    background: #e4e6eb;
    margin-top: -70px;
}

.section-details-content {
    margin-top: -210px;
    min-height: 100vh;

    .breadcrumb {
        background-color: transparent;
        padding: 0;
        margin-bottom: 30px;
    }

    .breadcrumb-item {
        &.active {
            font-weight: bold;
            color: #071c4d;
        }
    }

    .card-details {
        padding: 30px;
        border-radius: 11px;

        h1 {
            font-size: 26px;
        }

        h2 {
            font-size: 20px;
        }

        p {
            font-size: 18px;
            color: #b1b1b1;
        }

        h3 {
            font-family: Assistant;
            font-weight: 600;
            font-size: 14px;
            text-align: left;
            color: #051334;

        }

        .trip-information {
            th {
                font-weight: 300;
                color: #071c4d;
                font-size: 18px;
            }

            td {
                font-weight: 300;
                font-size: 18px;
                color: #b1b1b1;
            }

            .text-blue {
                color: #071c4d;
                font-weight: bold;
            }

            .text-orange {
                color: #FE8F23;
                font-weight: bold;
            }
        }

        .disclaimer {
            font-weight: 300;
            font-size: 14px;
            color: #b1b1b1;

        }

        .gj-datepicker {
            .datepicker {
                border-right: 0;

            }

            .input-group-append {
                .btn {
                    padding-right: 30px;
                }
            }
        }

        .btn-add-now {
            background-color: #071c4d;
            color: #fff;

            &:hover {
                background-color: #143D9D;
                color: #fff;
            }
        }
    }

    .card-right {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 0;
    }

    .features {
        margin-top: 20px;

        h3 {
            font-size: 18px;
            color: #071c4d;
            margin-bottom: 0;
        }

        p {
            margin-bottom: 0;
        }

        .description {
            margin-left: 10px;
            overflow: hidden;
            float: left;
            width: auto;
        }

        .features-image {
            width: 45px;
            height: 45px;
            float: left;
        }
    }
}

.payment-instruction {
    font-weight: 300;
    font-size: 14px;
    color: #b1b1b1;
}


.bank {
    .bank-item {
        h3 {
            font-size: 18px;
            color: #071C4D;
            margin-bottom: 0;

        }

        p {
            margin-bottom: 0;
        }

        .description {
            margin-left: 10px;
            overflow: hidden;
            float: left;

            p {
                font-family: Assistant;
                font-weight: normal;
                font-size: 16px;
                text-align: left;
                color: #071c4d;

            }
        }
    }

    .bank-image {
        width: 45px;
        height: 45px;
        float: left;
    }
}

.gallery {
    .xzoom-container {
        display: block;

        .xzoom {
            width: 100%;
            box-shadow: none;
            margin-bottom: 15px;
        }

        x.active {
            border: 4px solid #73B2E0;
            box-shadow: none;
        }
    }
}

.member {
    .member-image {
        width: 40px;
        height: 40px;
    }
}

.join-container {
    margin-top: -16px;
}

.btn-join-now {
    background-color: #Ff9353;
    color: #fff;
    border-radius: 0;

    &:hover {
        background-color: #FFB56D;
        color: #fff;
    }
}

.section-success {
    height: 90vh;

    h1 {
        font-weight: 600;
        font-size: 26px;
        color: #071C4D;
    }

    p {
        font-weight: 300;
        font-size: 18px;
        color: #b1b1b1;
    }

    .btn-home-page {
        border-radius: 4px;
        background-color: #071C4D;
        color: #fff;

        &:hover {
            background-color: #1E366D;
            color: #fff;
        }
    }
}